<!-- {# This is not being used, User Management uses userManagement.html #} -->
{% extends "/snips/base.html" %}
{% set currentPage ="changeDivision" %}
{% block body %}
<div class="wrapper">
    {# Controller: editDivision.py #}
  {% include "sidebar/userManagementSidebar.html" %}
  <script type="text/javascript" src="/static/js/local/sidebar.js"></script>
  <link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
  <div id="page-wrapper">
    {% include "snips/messages.html" %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add</h3>
      </div>
      <div class="panel-body bodyPadding">
        <div class="form-group">
          <form action = "/editDivision" method="post">
              <div class="col-md-9 selectPadding">
                <select title="Select User" class="form-control selectpicker"  onchange="getDID()" name="professors[]" data-live-search='true'>
                  {% for user in users %}
                    <option value="{{user.username}}">
                      {{user.firstName}} {{user.lastName}}
                    </option>
                  {% endfor %}
                </select>
              </div>
            <div width="316" height="88px">
              <div>
                <input type="submit" class="btn btn-default" value="Submit" id="submitAdd">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {# Controller: editDivision.py #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Remove</h3>
      </div>
      <div class="panel-body bodyPadding" style="padding-left:7px">
        <div class="form-group">
          <form action = "/editDivision" method="post">
              <div class="col-md-9 selectPadding">
                <select title="Select User" class="form-control selectpicker"  id='divisionRemoveSelectpicker' value="divisionchair" name="professors[]"data-live-search='true'>
                    <option id = division_did>
                    </option>
                </select>
              </div>
            <div width="316" height="88px">
              <div>
                <input type="submit" class="b tn btn-danger" value="Remove" id="submitRemove">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
