h2 {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

h3{
    font-size: 1em;
}
.header {
    display: inline-block;
}

/* Grabs all elements with the id starting with programs-: https://www.w3schools.com/cssref/sel_attr_contain.asp */
div[id*='programs-'] {
    display: none;
}

/* Grabs all elements with the id starting with courses-: https://www.w3schools.com/cssref/sel_attr_contain.asp */
div[id*='courses-'] {
    display: none;
}

#drop{height: 65px}

.dropzone .dz-message {margin-top: 0px}

.dropzone{min-height: 0px}