h2 {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

h3{
    font-size: 1em;
}
.header {
    display: inline-block;
}


div[id*='divisions-']{
    display: none;
}

/* Grabs all elements with the id starting with programs-: https://www.w3schools.com/cssref/sel_attr_contain.asp */
div[id*='programs-'] {
    display: none;
}

/* Grabs all elements with the id starting with courses-: https://www.w3schools.com/cssref/sel_attr_contain.asp */
div[id*='courses-'] {
    display: none;
}

#page-wrapper {
    margin-left: 96px;
}

#courseSidebar {
    left: 0px;
}

.btn-light:hover {
    color: #2c3e50;
}
