.container {
  width: 100vw;
  padding-left: 0px;
}
#center_block{
    margin-left : 280px;

}

#remove_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}

#add_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}
.bootstrap-select.btn-group .dropdown-menu selectpicker {
     color: whitesmoke !important;
     background: #bf5279 !important;
 }

 #program_dropdown{
   width: 40%;
   position: relative;
   left: 30%;
}

 #divisionDropdown{
   width: 40%;
   position: relative;
   left: 30%;
   text-align: center;
 }

#addDelete_buttons{
  position: relative;
}

 /*** Desktop ***/
@media (min-width: 992px){
  .col-lg-12{
		float: left;
		width: 100%;
	}
  .col-lg-3{
		float: left;
		width: 33.33%;
	}
  .col-lg-1{
    width: 10%;
  }
}


/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: 50%;
	}
	.col-md-12{
		float: left;
		width: 100%;
	}
}

/*** Mobile ***/
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100%;
	}
}
