.container {
  width: 100vw;
  padding-left: 0px;
}
#center_block{
    margin-left : 280px;

}

#remove_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}

#add_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}
.bootstrap-select.btn-group .dropdown-menu selectpicker {
     color: whitesmoke !important;
     background: #bf5279 !important;
 }

 #program_dropdown{
   width: 40%;
   position: relative;
   left: 30%;
}

 #divisionDropdown{
   width: 40%;
   position: relative;
   left: 30%;
   text-align: center;
 }

 #left_adminDropdown{
   width: 65%;
   position: relative;
   left: 75%;
   bottom: 253px;
 }

 #right_adminDrop{
   width: 65%;
   position: relative;
   right: -70%;
   top: 533px;
 }

 #currentUser{
   position: relative;
   right: -94%;
   top: 526px;
 }

 #addButton{
   position: relative;
   left: 75%;
   bottom: 264px;
 }

 #removeButton{
   position: relative;
   right: -35%;
   top: 522px;
 }

 #usersLabel{
   position: relative;
   left: 104%;
   bottom: 259px
 }

 #addDelete_buttons{
   position: relative;
   right: 32%;
   top: -500px;
 }

 #Add{
   position: relative;
   top: 786px;
   left: 552px
 }
