{% extends "/snips/base.html" %}
{# Prevent the JS file for this page from loading on page load #}
{% set currentPage = "no" %}
{% block body %}
{# can't use currentPage because of scoping issues #}
{% set page = "Courses" %}

{% include "sidebar/coursesSidebar.html"%}
  <div id="page-wrapper">

  {% include 'snips/messages.html' %}


  {# MY COURSES VIEW #}
  <h1>{{current_term.term}} {{current_term.year}}</h1>
  {% if my_courses is not none %}


    <h2>My Courses</h2>
    {% include "snips/tableHeader.html" %}
    {% for course in my_courses %}
      {% include "snips/coursesRows.html" %}
    {% endfor %}
    {% include "snips/tableFooter.html" %}
  {% else %}
     <h2>You have no courses.</h2>

{% endif %}

{%for division in divisions_to_programs %}
  <h2 class="col-xs-12">{{ division.name }} <a onclick='showPrograms("{{division.DID}}")'>
   <span id='icon-{{division.DID}}' class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span></a></h2>
{% endfor %}


  {# ADMIN VIEW #}
  <div class="container-fluid">
<h1>{{current_divison}}</h1>

<link rel = "stylesheet" href = "/static/css/Courses.css"/>

<script type="text/javascript" src="/static/js/local/courses.js"></script>
</div>
{% endblock %}
