{% extends "/snips/base.html" %}
{% set currentPage = "Courses" %}
{% block body %}
{# can't use currentPage because of scoping issues #}
{% set page = "Courses" %}
{% include 'snips/messages.html' %}

{# MY COURSES VIEW #}
<div id = "wrapper">
    {% include "sidebar/courseSidebar.html"%}
<div id = "page-wrapper">
<div class = "container-fluid"> 
<!--If user is faculty:-->
 <h1 class = "text-center">My Courses: {{current_term.term}} {{current_term.year}}</h1>
<!--If user is program/department chair/admin-->
<!--<h1 class = "text-center">Courses: {{current_term.term}} {{current_term.year}}</h1>-->
</div>
<div class = "container-fluid">
    <table id = "courses" class = "table table-striped table-hover table-bordered table-condensed" >
        <thead> 
            <tr>
                <th>Course</th>
                <th>Instructor</th>
                <th>Syllabus</th>
                <th>Additional Files</th>
                <th>Last Modified By</th>
                <th>File Management</th>
            </tr>
        </thead>
        <tbody>
            {% if my_courses != None %}
            {% for course in my_courses %}
                <tr>
                    <td>
                        {{course.CID.prefix}}-{{course.CID.number}}-{{course.CID.section}}
                    </td>
                    <td>
                        {{course.username.firstName}} {{course.username.lastName}}
                    </td>
                    <td> 
                        {% if course.CID.filePath == None %}
                            <a onclick = "upload({{course.CID.CID}})" > Upload syllabus</a>
                            {% include 'snips/uploadSyllabusModal.html' %}
                        
                        {% else %}
                             <a href = "/download/syllabus/{{course.CID.CID}}">{{syllabus_dict[course.CID.CID]}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if course.CID.optionalFilepath == None %}
                            <a onclick = "uploadOptional({{course.CID.CID}})"> Upload additional files</a>
                            {% include 'snips/uploadOptionalModal.html' %} 
                              
                            
                        {% else %}
                            <a  href = "/download/other/{{course.CID.CID}}">{{additional_dict[course.CID.CID]}}</a> 
                           
                          
                        {% endif %}
                    </td>
                    <td>
                        {% if course.CID.lastModified == None %}
                            <p>Course has not yet been modified.</p>
                        {% else %}
                            <p>{{course.CID.lastModified}}</p>
                        {% endif %}
                    </td>
                    <td> 
                        <a data-toggle ="modal" data-target = "#deleteModal">Delete Files</a>
                        {% include 'snips/deleteFilesModal.html' %}
                    
                    </td>
                </tr>
            {% endfor %}
            {%endif%}
            
        </tbody>
        
    </table>
</div>   
</div>
</div>

{% endblock %}
<script type="text/javascript" src="/static/js/local/Courses.js"></script>




