{% if my_courses is not none %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"</script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"</script>
<script type="text/javascript" src="/static/js/local/tableHeader.js"></script>
  <h2>My Courses</h2>
  {% include "snips/tableHeader.html" %}
  {% for course in my_courses %}
    {% include "snips/coursesRows.html" %}  
  {% endfor %}
  {% include "snips/tableFooter.html" %} 
{% endif %}