<link rel="stylesheet" href="/static/css/sidebar.css">
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-brand">
                <a href="#" class='termSelect head text-center'> Terms</a>
            </li>
            {% for semester in semesters %}
              <li>
                <a href="/courses/{{semester.SEID}}">{{semester.term}} {{semester.year}}</a>
              </li>
            {% endfor %}
            <li class="sidebar-brand">
                <a href="#" class='filterSelect head text-center'> 
                    Syllabus Filter
                </a>
            </li>
            <li>
                <a onclick = "filterTable({{currentSEID}}, 1)">All Courses</a>
            </li>
            <li>
                <a onclick="filterTable({{currentSEID}},2)">With Syllabus</a>
            </li>
            <li>
                <a onclick="filterTable({{currentSEID}},3)">No Syllabus</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<script type="text/javascript" src="/static/js/local/Courses.js"></script>