<link rel="stylesheet" href="/static/css/courses_form.css">
<tr>
  <td>
    {{course.username.firstName}} {{course.username.lastName}}
  </td>
  <td>
    {% if course.CID.filePath == None %}
      {{course.CID.prefix}}-{{course.CID.number}}-{{course.CID.section}}
    {% else %}
      <a href = "/download/{{course.CID.CID}}">
        {{course.CID.prefix}}-{{course.CID.number}}-{{course.CID.section}}
      </a>
    {% endif %}
  </td>
  <td>
    {{course.CID.SEID.term}}-{{course.CID.SEID.year}}
  </td>
  <td>
    {% if course.CID.filePath == None %}
      <form class="dropzone" id="drop" action = "/uploads/{{course.CID.CID}}">
        <div class="box"></div>
      </form>
    {% else %}
      <!-- Buttons -->

      <!--<button class="delete btn btn-danger" onclick"delete_syllabus({{course}})">Delete</button>-->
      <form method = "POST" name = "form_delete" id = "form_delete_{{course.CID.CID}}" action = "/delete/{{course.CID.CID}}">
        <input id="form_btn" type="button" class="delete_button btn btn-danger" onclick="delete_syllabus(form_delete_{{course.CID.CID}})" value="Delete">
      </form>
    {% endif %}
  </td>
  <td id="{{course.CID.CID}}">
    <form method="POST" name="courseMaterials" id="courseMaterials" action="/editCourseMaterials/{{course.CID.CID}}">
      <div class="checkbox">
        <label>
          <input id="NoneRequired" type="checkbox" name="NoneRequired" value="NoneRequired" data-cid="{{course.CID.CID}}" {{"" if course.CID.courseMaterials is none else "checked" if "NoneRequired" in course.CID.courseMaterials }}>
          No course materials required
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="OER" value="OER" data-cid="{{course.CID.CID}}" {{"" if course.CID.courseMaterials is none else "checked" if "OER" in course.CID.courseMaterials }}>
          Open educational resources
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="Library" value="Library" data-cid="{{course.CID.CID}}" {{"" if course.CID.courseMaterials is none else "checked" if "Library" in course.CID.courseMaterials }}>
          Library resources
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="Paid" value="Paid" data-cid="{{course.CID.CID}}" {{"" if course.CID.courseMaterials is none else "checked" if "Paid" in course.CID.courseMaterials }}>
          Paid resources (textbooks, courseware, etc)
        </label>
      </div>
    </form>
  </td>
  <td>
    {% if course.CID.lastModified == None %}
      <p>Course has not yet been modified.</p>
    {% else %}
      <p>{{course.CID.lastModified}}</p>
    {% endif %}
  </td>
</tr>
