
{% block body %}
    <div class="modal fade" id="deleteModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <a type="button" class="close"  aria-label="Close" data-dismiss = "modal" onclick="reload()"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">Manage Files</h4>
                </div>
                <div class="modal-body">
                    <p class="help-block">Select the file(s) to delete:</p>
                    <input type="checkbox" id="syllabus" name="syllabus">
                    <label for="syllabus">Syllabus</label>
                    {% for file in additionalFiles %}
                        <input type="checkbox" id="additionalFiles" name="additionalFile">
                        <label for="syllabus">file.filename</label>
                    {% endfor %}
                        
                    
                </div>
                <div class="modal-footer">
                  <button type = 'submit' data-dismiss="modal" class="btn btn-success" onclick="reload()" id = "submit" >Submit</a>
                </div>
            </div>
        </div>
    </div>
     <script type="text/javascript" src="/static/js/local/Courses.js"></script>
{% endblock %}
