
{% block body %}
    <div class="modal fade" id="deleteModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <a type="button" class="close"  aria-label="Close" data-dismiss = "modal" onclick="reload()"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">Manage Files</h4>
                </div>
                <div class="modal-body">
		<div class="row" id="BODY">
		  {# {% for file in courses_to_files[course.CID]%} #}
		  {#   {% if loop.index % 3 == 0 %} #}
		  {#     <div class="row"> #}
		  {#   {% endif %} #}
		  {#     <div class="col-md-4" id="{{loop.index}}"> #}
			{#   <div class="thumbnail"> #}
			{#     <a href="{{file.filePath}}" > #}
			{#       <img class="img-thumbnail" src="/static/images/document_icon.svg" alt="{{file}}" > #}
			{#       <p class = "text-center col-xs-12"> {{file}} </p> #}
			{#     </a> #}
			{#     <button onclick="delete_image(this)" data-div="{{loop.index}}" data-filepath="{{file}}" type="button" class="center-block btn btn-danger btn-sm"> #}
			{# 	<span class="glyphicon glyphicon-trash"></span> Delete  #}
			{#     </button> #}
			{#   </div> #}
		  {#     </div> #}
		  {#   {% if loop.index % 3 == 0 %}  #}
		  {#     </div > #}
		  {#   {% endif %} #}
		  {# {% endfor %} #}
		</div> 

                </div>
                <div class="modal-footer">
                  <button type = 'submit' data-dismiss="modal" class="btn btn-success" onclick="reload()" id = "submit" >Submit</a>
                </div>
            </div>
        </div>
    </div>
     <script type="text/javascript" src="/static/js/local/Courses.js"></script>
     <script type="text/javascript" src="/static/js/local/delete.js"></script>
{% endblock %}
