<tr>
  <td>
    {{course.userName.firstName}}
  </td>
  <td>
    {{course.CID.prefix}}
  </td>
  <td>
    {{course.CID.number}}
  </td>
  <td>
    {{course.CID.section}}
  </td>
  <td>
    {{course.CID.SEID.year}}
  </td>
  <td>
    {{course.CID.SEID.term}}
  </t>
  <td>
    {% if course.CID.filePath == None %}
        <form class="dropzone" id="drop" action = "/courses/{{course.CID.CID}}"> 
               <div class="box">
                   
               </div>
        </form>
    {% else %}
      <a href = "/courses/{{course.CID.CID}}/download" class = "btn btn-success" style = "width:100%;">Download</a>
    {% endif %}
  </td>
</tr>

